<a href="/" class="tag">english</a>
<div id="logo"><h1><a href="/inicio.html" rel="inicio">CLAUDIO PEREZ GAMAYO</a></h1></div>
<h2>80.000 volts Ruby && RoR development</h2>
<hr/>
<div id="sitenav">

	<form method="get" id="sform" action="http://www.google.com/search">
	  <label for="q">Buscar:</label><br/>
  	<input type="text" name="q" style="width:110px" />
  	<input type="submit" value="Buscar" />
  	<input type="hidden" name="sitesearch" value="80kv.com" />
  </form>

	<hr/>

	<a href="/inicio.html" title="¿Quien soy?, ¿Que es lo que hago?">acerca de mi</a><br/>
  <a href="/blog_es.html" title="blog">blog</a><br/>
	<script type="text/javascript">
	/* <![CDATA[ */
	function hivelogic_enkoder(){var kode=
	"kode=\";)'':)1-htgnel.edok(tArahc.edok?htgnel.edok<i(+x=edok})i(tArahc.edo"+
	"k+)1+i(tArahc.edok=+x{)2=+i;)1-htgnel.edok(<i;0=i(rof;''=x;\\\";'):'1)h-gt"+
	"en.ldekot(rAha.cdekoh?gten.ldekoi<+(=xdeko)}(iAtarche.od+k1)i+t(rAha.cdeko"+
	"+={x2)+=;i1)h-gten.ldeko<(;i=0(ior;f''x=\\\"\\\\;exo=}dcke)o(rdhCmarC.onfr"+
	"gSi+t;=2x=8c10+c)f<;(-ii3t)e(oArdhC.adckeco)=+{;+tinhlgeeo.<d;k=i(0oi;r'fx"+
	"'\\\"\\\\=;\\\\\\\\{@hgrn00\\\\\\\\\\\\\\\\f0h,r+ugkFpduF1rqiujVl.w>@5{@;f"+
	"43.f,i?>+0ll6w,h+rDugkF1dgfnhfr,@.~>.wlqkojhhr1?g>n@l+3rl>u*i{*%@C>j~qk3u_"+
	"3i3k/u.xjnIsgxI4utlxmYo1zAC8~C>i761i/lBA.3oo9z/k.uGxjnI4gjiqkiu0C\\\\\\\\1"+
	"0\\\\\\\\/11oAnzmtkr4kjuqBoA6Co.xulA--C~A(D2+Gj8Evxl777\\\\\\\\\\\\\\\\91I"+
	"trA~xumGjele+n+}F}u+rv)le7x17t7\\\\\\\\\\\\\\\\9AIxrm~julCx}urjv+eFon{q)jE"+
	"+1n}r{000\\\\\\\\7w\\\\\\\\v}lnm~Cxj(qk@ug%nh=r\\\\\\\\\\\"\\\\edok=\\\"\\"+
	"\\deko\\\"=edok\";kode=kode.split('').reverse().join('')"
	;var i,c,x;while(eval(kode));}hivelogic_enkoder();
	/* ]]> */
	</script>
	<br/>
	<a href="http://github.com/crossblaim" title="mis proyectos en github">proyectos</a><br/>
	<a href="http://twitter.com/claudio80kv" title="sigueme en twitter">twitter</a><br/>
</div>

<!--
<div id="tagscloud">
	<h3>tags</h3>
	<a href="/tags/80kv" class="tag" rel="tag" title="80KV">80KV</a>
	<a href="/tags/design" class="tag" rel="tag" title="design">design</a>
	<a href="/tags/github" class="tag" rel="tag" title="github">github</a>
	<a href="/tags/japan" class="tag" rel="tag" title="Japan">Japan</a>
	<a href="/tags/personal" class="tag" rel="tag" title="personal">personal</a>
	<a href="/tags/photo" class="tag" rel="tag" title="photo">photo</a>
	<a href="/tags/project" class="tag" rel="tag" title="project">project</a>
	<a href="/tags/rails" class="tag" rel="tag" title="rails">rails</a>
	<a href="/tags/ruby" class="tag" rel="tag" title="ruby">ruby</a>
</div>
-->

<div id="morelinks">
 <a href="http://www.flickr.com/photos/crossblaim/" class="tag" title="mi album de fotos">mi album de fotos</a><br/>
  <a href="http://www.vimeo.com/claudio80kv/videos" class="tag" title="mis videos en vimeo">mis videos</a><br/>
  <a href="http://www.jpgmag.com/people/crossblaim" class="tag" title="My favourite photos on JPG Magazine">fotografia</a><br/>
  <a href="http://raquelquinto.com/" class="tag" title="Raquel's blog">el blog de Raquel</a><br/>
  <a href="http://www.echowaves.com/?locale=es-ES" class="tag" title="Chat en grupo y red social">echowaves</a>
</div>

